### Importing Needed Module

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import math
from scipy.stats import stats 
from scipy.stats import pearsonr
from scipy.stats.stats import pearsonr
import statsmodels.formula.api as smf
import statsmodels.api as sm
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import confusion_matrix

### Loading Dataset

In [2]:
cancer = pd.read_csv('cancer.data')
cancer.head()

   1000025  5   1  1.1  1.2  2 1.3  3  1.4  1.5  2.1
0  1002945  5   4    4    5  7  10  3    2    1    2
1  1015425  3   1    1    1  2   2  3    1    1    2
2  1016277  6   8    8    1  3   4  3    7    1    2
3  1017023  4   1    1    3  2   1  3    1    1    2
4  1017122  8  10   10    8  7  10  9    7    1    4

### Cleaning data

In [3]:
cancer.shape

(698, 11)

In [4]:
cancer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 698 entries, 0 to 697
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   1000025  698 non-null    int64
 1   5        698 non-null    int64
 2   1        698 non-null    int64
 3   1.1      698 non-null    int64
 4   1.2      698 non-null    int64
 5   2        698 non-null    int64
 6   1.3      698 non-null    object
 7   3        698 non-null    int64
 8   1.4      698 non-null    int64
 9   1.5      698 non-null    int64
 10  2.1      698 non-null    int64
dtypes: int64(10), object(1)
memory usage: 60.1+ KB

In [5]:
cancer.nunique()

1000025    644
5           10
1           10
1.1         10
1.2         10
2           10
1.3         11
3           10
1.4         10
1.5          9
2.1          2
dtype: int64

### EDA

In [6]:
cancer.describe().T

,count,mean,std,min,25%,50%,75%,max
1000025,698.0,1.071807e+06,617532.274029,61634.0,870258.25,1171710.0,1238354.0,13454352.0
5,698.0,4.416905e+00,2.817673,1.0,2.00,4.0,6.0,10.0
1,698.0,3.137536e+00,3.052575,1.0,1.00,1.0,5.0,10.0
1.1,698.0,3.210602e+00,2.972867,1.0,1.00,1.0,5.0,10.0
1.2,698.0,2.809456e+00,2.856606,1.0,1.00,1.0,4.0,10.0
2,698.0,3.217765e+00,2.215408,1.0,2.00,2.0,4.0,10.0
3,698.0,3.438395e+00,2.440056,1.0,2.00,3.0,5.0,10.0
1.4,698.0,2.869628e+00,3.055004,1.0,1.00,1.0,4.0,10.0
1.5,698.0,1.590258e+00,1.716162,1.0,1.00,1.0,1.0,10.0
2.1,698.0,2.690544e+00,0.951596,2.0,2.00,2.0,4.0,4.0

In [7]:
cancer.columns.to_series().groupby(cancer.dtypes).groups

{dtype('int64'): Index(['1000025', '5', '1', '1.1', '1.2', '2', '3', '1.4', '1.5', '2.1'], dtype='object'),
 dtype('O'): Index(['1.3'], dtype='object')}

In [8]:
cancer.dtypes.value_counts()

int64     10
object     1
dtype: int64